<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicClassicalBean"
          class="by.rom.springcourse.ClassicalMusic">
    </bean>
    <bean id="musicCountryBean"
          class="by.rom.springcourse.CountryMusic">
    </bean>
    <bean id="musicRockBean"
          class="by.rom.springcourse.RockMusic">
    </bean>

    <bean id="musicPlayer"
          class="by.rom.springcourse.MusicPlayer">
        <property name="musicList">
            <list>
                <ref bean="musicClassicalBean"/>
                <ref bean="musicCountryBean"/>
                <ref bean="musicRockBean"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>
</beans>